<h1>This is the about page</h1>
 <h1 style="background-color:DodgerBlue;">Hello World</h1>
<p style="background-color:Tomato;">Alpha blog! Killing people's dreams who wish to hide things.</p>
<p>For premium quality chat tools there's only Alpha blog!.</p>

<p><strong>This is really important and very powerful!</strong></p>

<%= link_to 'Home', root_path %>
