<h1>This is the homepage of Alpha_blog</h1>
<h1 style="background-color:DodgerBlue;">Hello World</h1>
<p style="background-color:Tomato;">Alpha blog is the next generation most powerful app in the</p>
<p>This is so powerful, you can unblock yourself when somebody blocks you.</p>

<p><strong>Alpha_blog! for people who wants on the best.</strong></p>

<%= link_to "Alpha Blogger", articles_path %> | <%= link_to 'About', about_path %>
 
