<div class="container"
  <footer class="footer">
    <small>
       Copyright &copy <a href="https://www.byron.com">This is a powerful website</a>
       by <a href="Byron Hassim">Byron Hassim</a>
       </small>
       <nav>
         <ul>
           <li><%= link_to "About", about_path %> </li>
         </ul>
       </nav>
     </footer>
   </div>
